<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="Debug" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Debug\" />
      <appendToFile value="true" />
      <MaxSizeRollBackups  value="-1" />
      <MaximumFileSize value="1MB"/>
      <encoding value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date  %-5level [%thread] %newline%message%newline----------------------------------------%newline"/>
      </layout>
    </appender>
    <appender name="Error" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Debug\Error\" />
      <appendToFile value="true" />
      <MaxSizeRollBackups  value="-1" />
      <MaximumFileSize value="1MB"/>
      <encoding value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date  %-5level [%thread] %newline%message%newline----------------------------------------%newline"/>
      </layout>
    </appender>
    <logger additivity="false" name="中文\测试">
      <level value="ALL"/>
      <appender-ref ref="Error" />
    </logger>
    <logger additivity="false" name="Debug">
      <level value="ALL"/>
      <appender-ref ref="Debug" />
    </logger>
  </log4net>
</configuration>
