<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IRepository" type="Services.Repository.IRepository, Services" />
    <alias alias="SqlRepository" type="Services.Repository.SqlRepository, Services" />
    <alias alias="OracleRepository" type="Services.Repository.OracleRepository, Services" />
    <alias alias="IUserService" type="Services.IUserService, Services" />
    <alias alias="UserService" type="Services.UserService, Services" />
    <container>
      <register type="IRepository" mapTo="SqlRepository" />
      <register type="IRepository" mapTo="SqlRepository" name="Oracle" />
      <register type="IUserService" mapTo="UserService" />
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>