<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Services -->
    <typeAlias alias="IUserService" type="Services.IUserService, Services" />
    <typeAlias alias="UserService" type="Services.UserService, Services" />
    <!-- Repositories -->
    <typeAlias alias="IRepository" type="Services.Repository.IRepository, Services" />
    <typeAlias alias="SqlRepository" type="Services.Repository.SqlRepository, Services" />
    <typeAlias alias="OracleRepository" type="Services.Repository.OracleRepository, Services" />
  </typeAliases>
  <container>
    <register type="IRepository" mapTo="SqlRepository" />
    <register type="IUserService" mapTo="UserService" />
  </container>
</unity>