<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SystemSetting" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <SystemSetting>
    <add key="MongoConnectionString" value="mongodb://localhost/Message" />
  </SystemSetting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>