@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well">Hello world</div>
        </div>
    </div>    
</div>