<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="__DefaultSqlServer" connectionString="Data Source=192.168.111.20;User ID=sa;Password=HWu7f8nH;Initial Catalog=Test;"></add>
  </connectionStrings>
</configuration>