@using FW.Web.Framework.UI;
@{
    // jquery
    Html.AddResource("~/Scripts/jquery-1.11.2.min.js", ResourcePriority.High);

    // bootstrap
    Html.AddResource("~/Content/bootstrap.min.css", ResourcePriority.High);
    Html.AddResource("~/Content/bootstrap-theme.min.css", ResourcePriority.High);
    Html.AddResource("~/Scripts/bootstrap.min.js", ResourcePriority.High);

    // bootstrap submenu
    //Html.AddResource("~/Content/bootstrap-submenu.min.css", ResourcePriority.High);
    //Html.AddResource("~/Scripts/bootstrap-submenu.min.js", ResourcePriority.High);

    // bootstrap hover dropdown
    Html.AddResource("~/Scripts/bootstrap-hover-dropdown.js");

    // font-awesome
    Html.AddResource("~/Content/font-awesome.min.css", ResourcePriority.High);

    // style
    Html.AddResource("~/Content/style.css", ResourcePriority.High);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FW</title>
    @Html.GenerateResources(this.Url, ResourceLocation.Head)
</head>
<body>
    @RenderBody()
    @Html.GenerateResources(this.Url, ResourceLocation.Footer)
</body>
</html>