@{
    Layout = null;

    Html.AddResource("~/Scripts/template.js");
    Html.AddResource("~/Scripts/jquery.table.js");
}
@using FW.Web.Framework.UI

<script id="tb-tmpl" type="text/html">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                {{each columns as col i}}
                <th>{{col.title}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{each data as row i}}
            <tr>
                {{each row as cell j}}
                <td>{{cell}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script id="pager-tmpl" type="text/html">
    <nav>
        <ul class="pagination pagination-sm">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</script>