@{
    Layout = null;

    Html.AddResource("~/Scripts/template.js");
    Html.AddResource("~/Scripts/plugin.table.js");
}

<script id="tb-tmpl" type="text/html">
    {{if pager.TotalRecords > 0}}
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                {{each columns as col i}}
                <th style="width:{{#col.width}};">
                    {{col.title}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{each data as row i}}
            <tr>
                <td>{{ (pager.PageIndex - 1) * pager.PageSize + i + 1 }}</td>
                {{each row as cell j}}
                {{if cell.template}}
                <td>{{cell.text | format:cell.template}}</td>
                {{else}}
                <td>{{cell.text}}</td>
                {{/if}}
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{include 'pager-tmpl' pager}}
    {{else}}
    <div class="alert alert-danger" role="alert">
        <p><i class="fa fa-info-circle"></i> @T("Admin.Common.NoData")</p>
    </div>
    {{/if}}
</script>
<script id="pager-tmpl" type="text/html">
    <nav>
        {{if TotalPages > 1 }}
        <ul class="pagination pagination-sm">
            <li class="{{PageIndex != 1 ? "" : "disabled"}}">
                <a href="#" aria-label="First" data-page="1">
                    <i class="fa fa-fast-backward"></i>
                </a>
            </li>
            <li class="{{HasPrevious ? "" : "disabled"}}">
                <a href="#" aria-label="Previous" data-page="{{PageIndex - 1}}">
                    <i class="fa fa-backward"></i>
                </a>
            </li>
            {{each Pages as page}}
            {{if page == PageIndex }}
            <li class="active"><span>{{page}}</span></li>
            {{else}}
            <li><a href="#" data-page="{{page}}">{{page}}</a></li>
            {{/if}}
            {{/each}}
            <li class="{{HasNext ? "" : "disabled"}}">
                <a href="#" aria-label="Next" data-page="{{PageIndex + 1}}">
                    <i class="fa fa-forward"></i>
                </a>
            </li>
            <li class="{{PageIndex != TotalPages ? "" : "disabled"}}">
                <a href="#" aria-label="Last" data-page="{{TotalPages}}">
                    <i class="fa fa-fast-forward"></i>
                </a>
            </li>
        </ul>
        {{/if}}
        <ul class="pagination pagination-sm">
            <li>
                <span class="label label-info">
                    {{(PageIndex - 1) * PageSize + 1}} - {{PageIndex * PageSize > TotalRecords ? TotalRecords : PageIndex * PageSize}}&nbsp;of&nbsp;{{TotalRecords}}
                </span>
            </li>
        </ul>
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control input-sm page-size" id="page-size">
                        {{each PageSizes as item}}
                        <option value="{{item}}" {{if item == PageSize}} selected="selected" {{/if}}>{{item}}</option>
                        {{/each}}
                    </select>
                    <label class="control-label" for="page-size">@T("Admin.Common.Table.ItemsPerRow")</label>
                </div>
            </form>
        </div>
    </nav>
</script>