@{
    Layout = null;

    Html.AddResource("~/Scripts/template.js");
    Html.AddResource("~/Scripts/jquery.table.js");
}
@using FW.Web.Framework.UI

<script id="tb-tmpl" type="text/html">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                {{each columns as col i}}
                <th>{{col.title}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{each data as row i}}
            <tr>
                {{each row as cell j}}
                <td>{{cell}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>