@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "User list";
    Layout = "~/Administrator/Views/Shared/_PanelLayout.cshtml";
}

@section OperationRight
{
    <input type="button" class="btn btn-default" value="Default" />
    <input type="button" class="btn btn-primary" value="Primary" />
    <input type="button" class="btn btn-success" value="Success" />
    <input type="button" class="btn btn-info" value="Info" />
    <input type="button" class="btn btn-warning" value="Warning" />
    <input type="button" class="btn btn-danger" value="Danger" />
}

<div id="tb-container" class="table-responsive"></div>
@Html.Action("Table", "Common", new { area = "Administrator" })

@section Script
{
    <script type="text/javascript">
        $(function () {
            $("#tb-container").table({
                url: '@Url.Action("UserList", "User")',
                // condition: { pageIndex: 1, pageSize: 5 },
                // pager: { pageIndex: 1, pageSize: 1000 },
                columns: [{ title: "Name", field: "Name", width: "75%" }, { title: "Age", field: "Age", width: "20%" }]
            });
        });
    </script>
}