@{
    string pageTitle = ViewBag.Title ?? "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@pageTitle</title>
</head>
<body>
    @RenderBody()
</body>
</html>
