@{
    Layout = "~/Administrator/Views/Shared/_Layout.cshtml";

    var pageTitle = null == ViewBag.PageTitle ? "FW" : ViewBag.PageTitle;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading clearfix">
                    <div class="pull-right btn-group-xs">
                        @RenderSection("Operation", false)
                    </div>
                    <h2 class="panel-title pull-left" style="margin-top:4px;">@pageTitle</h2>
                </div>

                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
@this.RedefineSection("Script")