@{
    Layout = null;
}

<footer class="bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <strong class="pull-right">
                    <i class="fa fa-copyright"></i> @DateTime.Now.Year
                </strong>
            </div>
        </div>
    </div>
</footer>