@{
    Layout = null;
}
@model LocalizedResourceModel
@using System.Linq

<div class="form-group">
    @Html.FWLabelFor(x => x.ResourceKey, new { @class = "col-sm-2 col-lg-1 control-label" })
    <div class="col-sm-3">
        @*<input type="text" name="Key" class="form-control" id="resource-key" placeholder="Resource key">*@
        @Html.TextBoxFor(x => x.ResourceKey, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.FWLabelFor(x => x.ResourceValue, new { @class = "col-sm-2 col-lg-1 control-label" })
    <div class="col-sm-3">
        @Html.TextBoxFor(x => x.ResourceValue, new { @class = "form-control" })
    </div>
</div>
