@{
    Layout = null;
}
@model LocalizedResourceModel
@using System.Linq

<div class="form-group">
    <label for="resource-key" class="col-sm-2 col-lg-1 control-label">Resource key</label>
    <div class="col-sm-3">
        @*<input type="text" name="Key" class="form-control" id="resource-key" placeholder="Resource key">*@
        @Html.TextBoxFor(x => x.Key, new { @class = "form-control", placeholder = "Resource key" })
    </div>
</div>
<div class="form-group">
    <label for="resoure-value" class="col-sm-2 col-lg-1 control-label">Resource value</label>
    <div class="col-sm-3">
        @*<input type="text" name="Resource" class="form-control" id="resource-value" placeholder="Resource value">*@
        @Html.TextBoxFor(x => x.Resource, new { @class = "form-control", placeholder = "Resource value" })
        @Html.EditorFor(x => x.Resource)
    </div>
</div>
