
@{
    ViewBag.Title = "日志";
}

<section class="content-header">
    <h1>
        日志
        <small>查询</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">日志</li>
    </ol>
</section>
<section class="content">

</section>

