<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!--默认配置-->
  <!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="ConsoleApp" />
    <namespace name="ConsoleApp" />
    <container>
      <register type="ILog" mapTo="ConsoleLog" />
    </container>
  </unity>-->
  <!--别名配置-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILog" type="Services.ILog, Services" />
    <alias alias="ConsoleLog" type="Services.ConsoleLog, Services" />
    <alias alias="ColoredLog" type="Services.ColoredLog, Services" />
    <container>
      <register type="ILog" mapTo="ColoredLog" />
    </container>
  </unity>

</configuration>