<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="1.0.2" targetFramework="net45" />
  <package id="AutoFixture" version="3.37.3" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.37.3" targetFramework="net45" />
  <package id="AutoFixture.Idioms" version="3.37.3" targetFramework="net45" />
  <package id="AutoFixture.Xunit" version="3.37.3" targetFramework="net45" />
  <package id="Cavity.Core" version="2.0.0.970" targetFramework="net45" />
  <package id="Cavity.Data.Csv" version="2.0.0.831" targetFramework="net45" />
  <package id="Cavity.Data.Csv.Xunit" version="2.0.0.831" targetFramework="net45" />
  <package id="Cavity.Data.Html" version="2.0.0.970" targetFramework="net45" />
  <package id="Cavity.Data.Html.Xunit" version="2.0.0.970" targetFramework="net45" />
  <package id="Cavity.Data.Json.Xunit" version="2.0.0.970" targetFramework="net45" />
  <package id="Cavity.Data.Xml.Xunit" version="2.0.0.970" targetFramework="net45" />
  <package id="Cavity.Testing.Unit" version="2.0.0.848" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.3" targetFramework="net45" />
  <package id="FluentAssertions" version="4.1.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Trove.Bundle.Xunit.Moq" version="1.1.0.508" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net45" />
  <package id="XunitShould.Sources" version="5.0.0" targetFramework="net45" />
</packages>