<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <alias alias="ILog" type="Services.ILog, Services" />
    <alias alias="ConsoleLog" type="Services.ConsoleLog, Services" />
    <alias alias="PerformanceInterceptionBehavior" type="AopConsoleApp.AOP.PerformanceInterceptionBehavior, AopConsoleApp" />
    <alias alias="LoggingInterceptionBehavior" type="AopConsoleApp.AOP.LoggingInterceptionBehavior, AopConsoleApp" />
    <container>
      <extension type="Interception" />
      <register type="ILog" mapTo="ConsoleLog">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="LoggingInterceptionBehavior" />
        <interceptionBehavior type="PerformanceInterceptionBehavior" />
      </register>
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>