@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="well" id="app">
            <form class="form" onsubmit="return false;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Text" v-model="newTodo" v-on:keyup.enter="addTodo">
                </div>
                <div class="list-group">
                    @*<div class="list-group-item" v-for="item in todos">
                            <span class="btn btn-link" v-on:click="removeTodo($index)">{{item.text}}</span>
                        </div>*@
                    <template v-for="item in todos">
                        <span class="list-group-item" v-on:click="removeTodo($index)">
                            {{item.text}}
                        </span>
                    </template>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/vue.js"></script>
<script type="text/javascript">
    var curVue = new Vue({
        el: "#app",
        data: {
            newTodo: "",
            todos: [
                { text: "Add some todos." }
            ]
        },
        methods: {
            addTodo: function () {
                var text = this.newTodo.trim();
                if (!!text) {
                    this.todos.push({ text: text });
                    this.newTodo = "";
                }
            },
            removeTodo: function (index) {
                this.todos.splice(index, 1);
            }
        }
    });
</script>
