@{
    ViewBag.Title = "测试";
}

<div class="row">
    <div class="col-md-12">
        <div class="well" id="app">
            <form class="form" onsubmit="return false;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Text" v-model="newTodo" v-on:keyup.enter="addTodo">
                </div>
                <div class="list-group">
                    <template v-for="item in todos">
                        <button type="button" class="list-group-item" v-on:click="removeTodo($index)">
                            {{item.Text}}
                        </button>
                    </template>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var curVue = new Vue({
            el: "#app",
            data: {
                newTodo: "",
                todos: []
            },
            ready: function () {
                var self = this;

                $.ajax({
                    url: '/Home/GetAjax',
                    success: function (result) {
                        self.$data.todos = result;
                    }
                });
            },
            methods: {
                addTodo: function () {
                    var text = this.newTodo.trim();
                    if (!!text) {
                        this.todos.push({ Text: text });
                        this.newTodo = "";
                    }
                },
                removeTodo: function (index) {
                    this.todos.splice(index, 1);
                }
            }
        });
    </script>
}
